@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Chemical Consumption</h1>
    <p><a href="https://hsse.bth.infineon.com/">Visit more page about digitalization HSSE ?</a></p>
</div>
