@model ChemicalProject.Models.Records_FALab

@{
    ViewData["Title"] = "Create";
    var chemicalId = ViewData["chemicalId"] as int?;
    var chemicalName = ViewData["ChemicalName"] as string;
}

<div class="row gutters justify-content-center">
    <div class="col-10 mt-5">
        <form asp-action="Create">
            <div class="card m-0">
                <div class="card-header">
                    <div class="card-title">Add New @ViewBag.ChemicalName Record</div>
                    <div class="card-sub-title">Kiw Kiw </div>
                </div>

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ChemicalId" type="hidden" />
                    <div class="row gutters ">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Badge" class="control-label"></label>
                                <input asp-for="Badge" class="form-control" />
                                <span asp-validation-for="Badge" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Received Quantity</label>
                                <input asp-for="ReceivedQuantity" class="form-control" />
                                <span asp-validation-for="ReceivedQuantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Consumption" class="control-label"></label>
                                <input asp-for="Consumption" class="form-control" />
                                <span asp-validation-for="Consumption" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Record Date</label>
                                <input asp-for="RecordDate" class="form-control" />
                                <span asp-validation-for="RecordDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Received Date</label>
                                <input asp-for="ReceivedDate" class="form-control" />
                                <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label class="control-label">Expired Date</label>
                                <input asp-for="ExpiredDate" class="form-control" />
                                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Justify" class="control-label"></label>
                        <textarea asp-for="Justify" class="form-control" id="justifyTextarea" placeholder="Enter justification" maxlength="1000" rows="4"></textarea>
                        <div class="form-text text-muted">
                            <p id="characterLeft" class="help-block">140 characters left</p>
                        </div>
                        <span asp-validation-for="Justify" class="text-danger"></span>
                    </div>

                    <div class="container d-flex justify-content-center">
                        <input type="submit" value="Create" class="btn btn-primary" style="margin: 0 10px;" />
                        <a asp-action="Index" asp-route-id="@ViewBag.ChemicalId" class="btn btn-secondary" style="margin: 0 10px;">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>
            $(document).ready(function () {
                var justifyTextarea = $('#justifyTextarea');
                var characterLeftDisplay = $('#characterLeft');
                var maxLength = justifyTextarea.attr('maxlength');

                updateCharacterCount();

                justifyTextarea.on('input', function () {
                    updateCharacterCount();
                });

                function updateCharacterCount() {
                    var enteredText = justifyTextarea.val();
                    var remainingCharacters = maxLength - enteredText.length;
                    characterLeftDisplay.text(remainingCharacters + ' characters left');
                }
            });
        </script>
    }
}

