@model ChemicalProject.Models.Chemical_FALab

@{
    ViewData["Title"] = "Edit";
}

<div class="row gutters justify-content-center">
    <div class="col-10 mt-5">
        <form asp-action="Edit">
            <div class="card m-0">
                <div class="card-header">
                    <div class="card-title">Edit Chemical</div>
                </div>

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row gutters justify-content-center">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Badge" class="control-label"></label>
                                <input asp-for="Badge" class="form-control" />
                                <span asp-validation-for="Badge" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="AreaId" class="control-label">Area</label>
                                <select asp-for="AreaId" asp-items="@ViewBag.AreaId" class="form-control">
                                    <option value="">-- Select Area --</option>
                                </select>
                                <span asp-validation-for="AreaId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="ChemicalName" class="control-label"></label>
                                <input asp-for="ChemicalName" class="form-control" />
                                <span asp-validation-for="ChemicalName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Brand" class="control-label"></label>
                                <input asp-for="Brand" class="form-control" />
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Packaging" class="control-label"></label>
                                <input asp-for="Packaging" class="form-control" />
                                <span asp-validation-for="Packaging" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Unit" class="control-label"></label>
                                <input asp-for="Unit" class="form-control" />
                                <span asp-validation-for="Unit" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="MinimumStock" class="control-label"></label>
                                <input asp-for="MinimumStock" class="form-control" />
                                <span asp-validation-for="MinimumStock" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="RequestDate" class="control-label"></label>
                                <input type="date" asp-for="RequestDate" class="form-control" />
                                <span asp-validation-for="RequestDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Justify" class="control-label"></label>
                        <textarea asp-for="Justify" class="form-control" id="justifyTextarea" placeholder="Enter justification" maxlength="1000" rows="4"></textarea>
                        <div class="form-text text-muted">
                            <p id="characterLeft" class="help-block">140 characters left</p>
                        </div>
                        <span asp-validation-for="Justify" class="text-danger"></span>
                    </div>

                    <div class="container d-flex justify-content-center">
                        <input type="submit" value="Update" class="btn btn-primary" style="margin: 0 10px;" />
                        <a asp-action="Index" class="btn btn-secondary" style="margin: 0 10px;">Back to List</a>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var justifyTextarea = $('#justifyTextarea');
            var characterLeftDisplay = $('#characterLeft');
            var maxLength = justifyTextarea.attr('maxlength');

            updateCharacterCount();

            justifyTextarea.on('input', function () {
                updateCharacterCount();
            });

            function updateCharacterCount() {
                var enteredText = justifyTextarea.val();
                var remainingCharacters = maxLength - enteredText.length;
                characterLeftDisplay.text(remainingCharacters + ' characters left');
            }
        });
    </script>
}
